<div>
    <img src="https://static.vecteezy.com/system/resources/previews/009/636/683/original/admin-3d-illustration-icon-png.png" width="200px" alt="">

    <h1 class="text-center" >Admin</h1>
    <h4 class="text-center">admin@gmail.com</h4>
</div>

<mat-divider></mat-divider>

<div class="flex flex-col ">
    <h2 class="font-bold">Pages</h2>

    
    <a routerLink="" class="px-12 py-4 hover:bg-blue-100 hover:shadow-xl">Courses</a>
    <a routerLink="student-data" class="px-12 py-4 hover:bg-blue-100 hover:shadow-xl">Student Data</a>
    <a routerLink="admissions" class="px-12 py-4 hover:bg-blue-100 hover:shadow-xl">Admissions</a>
    <a routerLink="placements" class="px-12 py-4 hover:bg-blue-100 hover:shadow-xl">Placements</a>
</div>

<div class="flex flex-col mt-6">
    <h2 class="font-bold">Actions</h2>
    <a routerLink="add-student" class="px-12 py-4 hover:bg-blue-100 hover:shadow-xl"><mat-icon class="align-middle"> person_add</mat-icon>&nbsp;Add Student</a>
    <a routerLink="add-staff" class="px-12 py-4 hover:bg-blue-100 hover:shadow-xl"><mat-icon class="align-middle">person_add</mat-icon>&nbsp;Add Staff</a>
</div>
