<div class="flex justify-around m-8 ">
    <mat-card class=" shadow-2xl w-96 h-96 " >
        <app-courses 
        bg="blue"
        icon="desktop_mac"
        branch="Computer Science"
        hod="Anwar"
        totalstaff="35"
        totalstudents="300"
        ></app-courses>
    </mat-card>
   
    <mat-card class="w-96 shadow-2xl h-96">
        <app-courses 
        bg="blue"
        icon="build"
        branch="Mechanical Engineering"
        hod="Manoj"
        totalstaff="25"
        totalstudents="250"></app-courses>
    </mat-card>
    <mat-card class="w-96 shadow-2xl">
        <app-courses
        bg="blue"
        icon="desktop_windows"
        branch="Information Technology"
        hod="Anwar"
        totalstaff="15"
        totalstudents="150"></app-courses>
    </mat-card>
</div>

<div class="flex justify-around m-8">
    <mat-card class="w-96 shadow-2xl">
        <app-courses
        bg="blue"
        icon="line_style"
        branch="Civil Engineering"
        hod="Smitha"
        totalstaff="20"
        totalstudents="200"
        ></app-courses>
    </mat-card>
    <mat-card class="w-96 shadow-2xl">
        <app-courses
        bg="blue"
        icon="computer"
        branch="Electronics Engineering"
        hod="Rakesh"
        totalstaff="15"
        totalstudents="150"
        ></app-courses>
    </mat-card>
    <mat-card class="w-96 shadow-2xl">
        <app-courses
        bg="blue"
        icon="tips_and_updates"
        branch="Electrical Engineering"
        hod="Manju"
        totalstaff="15"
        totalstudents="150"
        ></app-courses>
    </mat-card>
</div>



