<!-- <div>
    <mat-form-field appearance="fill" >
        <mat-label>Input</mat-label>
        <input matInput class="border-2 border-black">
      </mat-form-field>
      <mat-form-field appearance="fill" class="border-2 border-black">
        <mat-label class="text-black">Select</mat-label>
        <mat-select class="border-2 border-black">
          <mat-option value="one">First option</mat-option>
          <mat-option value="two">Second option</mat-option>
        </mat-select>
      </mat-form-field>
      
</div> -->

<p>add-student works!</p>
  
